In [1]:
#q1
first = "Hello"
second = "World"
s3 = first + " " + second
print(s3)

Hello World

In [2]:
s = 'abc' #q2
d = s*4
print(d)

abcabcabcabc

In [64]:
#q3
text = "Python programming is fun"
s = text.find("programming")
print(s)

7

In [7]:
text = "Java"
c = text.index("Java")#q3
d = text.find("Java") #q4
print(c,d)

0 0

In [65]:
#a5
d = "a b c d"
e = d.replace(" ","-",2)
print(e)

a-b-c d

In [10]:
s = "apple,banana,grape"
j = s.split(",")
print(j)  #q6

['apple', 'banana', 'grape']

In [13]:
string = "unhappy"
y = string.startswith('un')
z = string.endswith('py')
print(y,z) #q8

True True

In [15]:
#q9
string = "unhappy"
h = string.removeprefix('un')
j = "running"
k = j.removesuffix('ing')
print(h,k)

happy runn

In [16]:
#q10
l = "hi"
m = l.ljust(10,'*')
print(m)

hi********

In [17]:
#q11
n = 'Bye'
v = n.rjust(8,'-')
print(v)

-----Bye

In [18]:
#q12
s = " Hello World "
z = s.strip(" ")
print(z)

Hello World

In [19]:
a = "xyxxyHello"
b = a.lstrip('xy')
print(b) #q`13

Hello

In [21]:
c = "Wow!!!"
d = c.rstrip("!")
print(d) #q14

Wow

In [23]:
#q1
sentence = "This is a bad example of bad behavior"
f = sentence.replace("bad","***",2)
print(f)

This is a *** example of *** behavior

In [26]:
s = "user@example.com"
j = s.partition("@")
print(j)

('user', '@', 'example.com')

In [ ]:
data = "name,age,location,country"`

In [2]:
n = int(input("Enter a number"))
if n%2==0 :
    print("Even")
else:
    print("Odd")

Enter a number 9

Odd

In [3]:
#q3
n1 = int(input("Enter a number 1"))
n2 = int(input("Enter a number 2"))
a = n1 + n2
b = n1 - n2
c = n1*n2
d = n1/n2
print(a,b,c,d)

Enter a number 1 15
Enter a number 2 14

29 1 210 1.0714285714285714

In [7]:
#q7
n = int(input("Enter a number"))
if (n>0):
    print("Positive")
elif n<0:
    print("Negative")
else:
    print("Zero")

Enter a number 0

Zero

In [11]:
year = int(input("Enter a year"))
if (year%4== 0 or (year%100!=0 and year%400==0)):
    print("Leap year")
else:
    print("Non leap year") #q8

Enter a year 1999

Non leap year

In [16]:
n = int(input("Enter a number"))
i = 10
while(i<n):
    i = i+1
    print(n,'*', i = 'n*i')

Enter a number 5

In [17]:
n = int(input("Enter a number"))
fact = 1
for i in range(n):
    fact = fact*i
    print(fact)

Enter a number 5

0
0
0
0
0

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
    print('')

*
**
***
****
*****

In [20]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end="")
    print()

*****
****
***
**
*

In [21]:
n = int(input("Enter a number"))
factorial = 1
if n<0:
    print("Factorial is not defined for negative numbers")
else:
    for i in range(1,n+1):
        factorial = factorial *i
        print(factorial)

Enter a number 5

1
2
6
24
120

In [23]:
n = int(input("Enter a number"))
for i in range(1,n+1):
    print(n, "x",i,"=",n*i)

Enter a number 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [25]:
n = int(input("Enter a number"))
original = n
sum = 0
while(n>0):
    last_digit = n%10
    sum = sum + last_digit
    n = n//10
    print(sum)

Enter a number 123

3
5
6

In [3]:
text = input("Enter a string: ")

vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string:  create

Number of vowels: 3

In [4]:
n = int(input("Enter the terms"))
a,b = 0,1
print("Fibonacci")
for i in range(n):
    print(a,end ="")
    a,b = b, a+b

Enter the terms 10

Fibonacci
0112358132134

In [9]:
#q1
s = "hello world"
d = s.title()
print(d)

Hello World

In [12]:
#q2
e = "Python"
f = e.title()
print(f)
g = e.isalpha()
print(g)

Python
True

In [13]:
digits = '12345'
h = digits.isdigit()
print(h) #q3

True

In [14]:
 sent = "Python is easy to learn"
j = sent.count(" ")
print(j) #q4

4

In [15]:
k = "HeLLo" #q5
l = k.lower()
m = k.upper()
print(l,m)

hello HELLO

In [21]:
s = "var_name1"
g = s.isidentifier()
print(g)

True

In [17]:
a = "Python 3.9!"
b = a.isalpha()
print(b)

False

In [22]:
#q1
sentence = "Python is fun"
s = sentence.split(" ")
print(s)

['Python', 'is', 'fun']

In [24]:
str = "This is a test sentence"
d = str.split(" ")
print(len(d))

5

In [28]:
 s = "data science is cool"
s1 = s.split(" ")
print(s1)
s2 = '-'
s3 = s1.join(s2)
print(s3)

['data', 'science', 'is', 'cool']

AttributeError: 'list' object has no attribute 'join'

In [29]:
 string = "apple,banana,cherry"
f = string.split(" ")
print(f)

['apple,banana,cherry']

In [31]:
s1 = "Hello world from Python"
s2 = s1.split(" ")
print(s2)
s3 = s2[::-1]
print(s3)

['Hello', 'world', 'from', 'Python']
['Python', 'from', 'world', 'Hello']

In [34]:
s1 = "Aryan"
s2 = "-"
s3 = s1.join(s2)
print(s3)

-

In [35]:
str = "Hello, world!"
print(str.find("world"))

7

In [36]:
str1 = "Hello, Python!"
print(str1.startswith("Hello"))

True

In [37]:
str3 = "Python program"
print(str3.removeprefix('Python'))

 program

In [40]:
str4 = 'bananas'
print(str4.rfind('a',))

5

In [42]:
str5 = '123abc'
print(str5.startswith('123'))

True

In [44]:
str6 = "apple banana apple orange apple"
print(str6.rfind("apple"))

26

In [45]:
str7 = "hello world"
print(str7.rfind('Python'))

-1

In [50]:
str8 = "apple banana apple orange"
str9 = str8.rfind('apple')
print(str9)
str10 = str8[13:]
print(str10)

13
apple orange

In [52]:
n = int(input("Enter the terms"))
a,b = 0,1
print("Fibonacci series")
for i in range(n):
    print(a,end="")
    a,b = b,a+b

Enter the terms 5

Fibonacci series
01123

In [54]:
for nums in range(2,101):
    is_prime = True
    for i in range(2,nums):
        if nums%i==0:
            is_prime = False
            break
    if is_prime:
        print(nums)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [55]:
n = int(input("Enter a number"))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

Enter a number 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [57]:
year = int(input("Enter a year"))
if(year %4==0 and year%100!=0) or (year%400==0):
    print("Leap")
else:
    print("Non Leap")

Enter a year 2012

Leap

In [58]:
string = input("Enter a string")
count = 0
vowels = 'aeiouAEIOU'
for char in string:
    if char in vowels:
        count = count+1
print(count)

Enter a string aryan

2

In [59]:
n = int(input("Enter a number"))
fact = 1
if n<=1:
    print("Factorial not for negative numbers")
else:
    for i in range(1,n+1):
        fact = fact*i
        print(fact)

Enter a number 6

1
2
6
24
120
720

In [60]:
# python project 1 password reset
pwd1 = input("Enter a password")
pwd2 = input("Enter confirmed password")
if pwd1 == pwd2:
    print("Password changed")
elif pwd1.casefold() == pwd2.casefold():
    print("Match password")
else:
    print("Do not match")

Enter a password a1234
Enter confirmed password a12345

Do not match

In [61]:
#project 2 credit card number
credit_card_no = int(input("Enter credit card number"))
last_digit = credit_card_no[15:]
four = 'X'*4
display_no = four*3 + last_digit
print(display_no)

Enter credit card number 1234 4567 7896 1221

ValueError: invalid literal for int() with base 10: '1234 4567 7896 1221'

In [63]:
item1 = "Burger"
price1 = '70'
dash = 80 - len(item1)-len(price1)
print(item1 + ('-'*dash)+ price1)
item2 = "Pizza"
price2 = '90'
dash = 100 - len(item2)-len(price2)
print(item2 + ('-'*dash)+ price2)

Burger------------------------------------------------------------------------70
Pizza---------------------------------------------------------------------------------------------90

In [68]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [75]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print('*',end="")
    print()

    *
   **
  ***
 ****
*****

In [79]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print()

1
121
12321
1234321
123454321

In [81]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

In [82]:
ord('C')

67

In [83]:
chr(69)

'E'

In [85]:
x = int('123')
y = bin(x)
print(y)

0b1111011

In [86]:
z = 345
v = oct(z)
print(v)

0o531

In [87]:
e = 456
g = hex(e)
print(g)

0x1c8

In [89]:
s = '\u0915\u0916\u0917'
print(s)

कखग

In [93]:
print('Aryan \n Kumar')

Aryan
 Kumar

In [94]:
print('Ashish \n Prasad')

Ashish
 Prasad

In [95]:
print('Aryan \r Kumar')

 Kumar

In [96]:
print('Hello \t Aryan')

Hello 	 Aryan

In [98]:
print('Hello \f Aryan')

Hello  Aryan

In [99]:
print('Mamta \v Kumar')

Mamta  Kumar

In [100]:
print('This \n is a new ball')

This
 is a new ball

In [101]:
print('This \r is a new ball')

 is a new ball

In [102]:
print('This \t is a new ball')

This 	 is a new ball

In [103]:
print('This \b is a new ball')

This is a new ball

In [104]:
print('Aryan \b')

Aryan

In [105]:
print('Hello \f Gunner')

Hello  Gunner

In [106]:
print('Aryan\
Kumar')

AryanKumar

In [107]:
print('Kumar\'s')

Kumar's

In [108]:
print('Kumar\"s')

Kumar"s

In [109]:
print('\x41')

A

In [111]:
print('\101')

A

In [112]:
print('\x42')

B

In [113]:
print('\u0042')

B

In [114]:
print('\U00000042')

B

In [123]:
print('\N{subscript five}')

₅

In [125]:
print('Aryan',13,14,sep = "-")

Aryan-13-14

In [126]:
print('Hello \t World')

Hello 	 World

In [133]:
a = 13
print('% i'%(a) )

 13

In [139]:
b = 12.5
print('% 2.31f' %(b))

 12.5000000000000000000000000000000

In [137]:
c = 'Aryan'
print('%s ' %(c))

Aryan

In [140]:
print('happy coding', end ='--')

print('coffee is life', end ='--')

print('okay', end ='--')

happy coding--coffee is life--okay--

In [142]:
'{0}'.format(4.56)

‘{0}'.format([4.56])

SyntaxError: invalid character '‘' (U+2018) (2877244619.py, line 3)

In [143]:
{a}{b}{a}'.format(a='hello', b= 'there')

SyntaxError: unterminated string literal (detected at line 1) (3867339816.py, line 1)

In [148]:
name = 'Alice'
age = 30
print(f"{name}is {age} years old.")

Aliceis 30 years old.

In [149]:
x = 5
y = 10
print(f"The sum of {x} and {y} is {x + y}")

The sum of 5 and 10 is 15

In [150]:
name = "Liam"
score = 92
print(f"Student {name} scored {score}% on the test.")

Student Liam scored 92% on the test.

In [152]:
name = "Aryan"
age = 24
cgpa = 9
print(f"{name} is {age} years old. and has secured {cgpa} in his university exams" )

Aryan is 24 years old. and has secured 9 in his university exams

In [161]:
print('Gopal \"s Prasad')

Gopal "s Prasad

In [162]:
name = input("Enter your name")
age = int(input("Enter your age"))
print(f"Hello, {name}! You are {age} years old.")

Enter your name Aryan
Enter your age 24

Hello, Aryan! You are 24 years old.