In [42]:
print("hello")

hello

In [43]:
#Q1
age = 26

In [44]:
#q2
height = 5.9

In [45]:
#q3
language = 'Python'

In [46]:
is_active = True  # q4

In [70]:
x = 10
y = 20
print(x+y)  #q5

30

In [48]:
x = 5
x = "Hello"
print(x) #Q6

Hello

In [71]:
# q7 
message = "Hi"
message= 'im'
print(message)

im

In [50]:
#q8 
name = "Aryan"
age = 26
print(name,age)

Aryan 26

In [77]:
s1 = "Hello"
s2 = "World"
greeting = s1+" "+s2
print(greeting) #q9

Hello World

In [78]:
first_name = "Aryan"
last_name = "Kumar"
fullname = first_name + "     " + last_name
print(fullname) #q10

Aryan     Kumar

In [84]:
a = str(25)
s = "Age:"
result = s + " " +a
print(result) #q11

Age: 25

In [54]:
a = "Hello"
b = 123
print(a + str(b)) #q12

Hello123

In [85]:
s1 = "Python"
s2 = "is"
s3 = "fun"
r1 = s1 + " " + s2 + " " + s3
print(r1) #q14

Python is fun

In [56]:
name = "Bob"
age = str(25)
print("My name is " + name + " and I am " + age + " years old.")#q15

My name is Bob and I am 25 years old.

In [90]:

s1 = "The price is "
s2 = "dollars"
price = 100
s3 = s1 +" "+ str(price)+" "+ s2
print(s3) #q16

The price is  100 dollars

In [91]:
a = str('123') #q17

In [92]:
b = str('3.14') #q18
print(type(b))

<class 'str'>

In [94]:
n = int(input("Enter a number"))
r = n*2
print(r) #q19

Enter a number 170

340

In [95]:
c = float(10)
#q20
print(c)
print(type(c))

10.0
<class 'float'>

In [63]:
d = int(10.5)
print(d) #q21

10

In [97]:
e = bool("True")
print(e) #q22
a= "True"
b= bool(a)
print(b)
print(type(b))

True
True
<class 'bool'>

In [66]:
n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
sum = n1 + n2
print(sum) #q23

Enter the first number 14
Enter the second number 15

29

In [67]:
#q24 
n = int(input("Enter a number"))
if(n>=0):
        print("Positive")
elif(n<0):
        print("Negative")
else:
        print("Invalid number")

Enter a number -7

Negative

In [68]:
n = int(input("Enter a number"))
if(n%2==0):
    print("Even")
else:
    print("Odd") #25

Enter a number 5

Odd

In [99]:
age = int(input("Enter your age"))
if(age>=18):
    print("You are AN aDULT")
else:
    print("You are a minor") #26

Enter your age 1

You are a minor

In [ ]:
a = int(input("Enter first number")
b = int(input("Enter second number")
if(a>b):
        print("Ais greater")
else :
        print("B is greater") #q27

In [ ]:
marks = int(input("Enter your marks"))
if(marks>=90):
              print("A")
else:
             print("Not A") #q28

In [104]:
password=input("Enter your password")
if(password == 'admin123'):
                          print("Acess granted")
else :
                          print("Acess denied") #q29

Enter your password Admin123

Acess denied

In [ ]:
if(n%3 == 0 and n%5==0):
                        print("Number is divisble by both 3 and 5") #q30
else:
                       print("Not divisible by 3 and 5")

#fizzbuzz program
# if number is divisible by 3 print Fizz
# if number is divisible by 5 print buzz
# if number is divisible by both 3 and 5 print Fizzbuzz

In [108]:
n = int(input("Enter a number"))
if(n%3==0):
    print("fIZZ")
if(n%5==0):
    print("Buzz")
elif(n%3 and n%5==0):
    print("Fizzbuzz")
else:
    print("Invalid")

Enter a number 45

fIZZ
Buzz