In [32]:
#q1
a = 10
print(type(a))
b = 3.14
print(type(b))
c = "Aryan"
print(type(c))
d = True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
#q2
n1 = 10
n2 = 20
n3 = n1 + n2
print(n3)

30

In [1]:
#q3
n = float(10)
r = n**2
print(r)

100.0

In [35]:
#q4
bool = True
print(not(bool))

False

In [68]:
#q5
s = 'Aryan'
length = len(s)
print(length)

5

In [37]:
#q6
a = int('10')
b = a*10

In [38]:
#q7
c = int('10')

In [39]:
#q8
n1 = 10.5
n2 = 12.5
avg = (n1+n2)/2
print(avg)

11.5

In [6]:
#q9
name = 'Aryan'
age = 26
print(name,age)

Aryan 26

In [41]:
#q10
a = str(10)
print(type(a))

<class 'str'>

In [42]:
a = 10
b = 20
c = a +b
d = a-b
e = a*b
f = a/b
g = a//b
h = a**b
i = a%b
print(c,d,e,f,g,h,i) #q11

30 -10 200 0.5 0 100000000000000000000 10

In [43]:
a = 12
b = 13
if(a<b):
    print(a)
else: 
    print(b) # q12

12

In [44]:
a = (10,12,13,14,15,16,17,18,19,20)
n = 12
if 12 in a:
    print("Yes")
else:
    print("No") #q14

Yes

In [3]:
#q16
base = 6
height = 7
area = 0.5*base*height
print(area) #q15

21.0

In [46]:
#q17
a = 10
b = 20
a+=10
print(a)
b-=10
print(b)

20
10

In [47]:
#q18
princi = 5000
rate = 12
time = 3
simple_interest = (princi*rate*time)/(100)
print(simple_interest)

1800.0

In [5]:
#q19
n = 15
if(n%3==0 and n%5==0):
    print("Divisible")
else:
    print("Not divisible")

Divisible

In [49]:
n = 10
i = 1
while(i<n):
    print(i)
    i = i+1 #q21

1
2
3
4
5
6
7
8
9

In [50]:
for i in range(1,21):
    if (i%2==0):
        print(i) #q22

2
4
6
8
10
12
14
16
18
20

In [51]:
#q23
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [52]:
n = 10
i = 1
while(i<=n):
    print(n,'*',i,'=',n*i)
    i = i+1 #q24

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [53]:
sum =0
for i in range(1,51):
    if(i%2!=0):
        sum = sum + i
print(sum) # 26

625

In [54]:
#q27
n = 123
rev = 0
while(n>0):
    r = n%10
    rev = rev*10 + r
    n = n//10
    print(rev) #27

3
32
321

In [55]:
n = 123
count = 0
i = 0
while(i<n):
    i = i + 1
    r = n//10
    n = n%10
    print(i) #28

1
2
3

In [56]:
#29
for i in range(1,101):
    if(i%7==0):
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [57]:
#q30
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [58]:
for i in range(1,6):
    for j in range(1,6):
        if i>=j:
            print('*',end="")
    print('')  #q31

*
**
***
****
*****

In [59]:
#q32
for i in range(1,6):
    for j in range(1,6):
        print('*',end="")
    print('')

*****
*****
*****
*****
*****

In [60]:
for i in range(1,4):
    for j in range(1,4): #q33
        if i>=j:
            print(j,end="")
    print('')

1
12
123

In [61]:
#q34
for i in range(1,6):
    for j in range(1,6-(i-1)):
        print('*',end="")
    print('')

*****
****
***
**
*

In [7]:
#q41
day_no = int(input("Enter day number"))

<class 'SyntaxError'>: invalid syntax (<ipython-input-7-a0148bc5ae63>, line 18)